.App {
  background-color: aliceblue;
}

.error{
  color: tomato;
  font-weight: bolder;
  padding-top: 20px;
  padding-left: 20px;
}

.errors{
  color: tomato;
  font-weight: bolder;
  padding-top: 20px;
  padding-left: 20px;
}

.Home{
  text-align: center;
}

.login{
  margin-left: 30px;
}

* {
  background-color: aliceblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #2D8266;
}


.nav {
  border: #41BB92;
  border-style: solid;
  border-radius: 15px;
  background-color: #2D8266;
  opacity: 90%;
  color: whitesmoke;
  width: 100px;
  height: 30px;
}

hr{
  border-style: solid;
  border-radius: 10px;
  border-color: #2D8266;
  border-width: 3px;
}

button {
  border: #41BB92;
  border-style: solid;
  border-radius: 10px;
  background-color: #2D8266;
  opacity: 90%;
  color: whitesmoke;
}

#name{
  color: #2D8266;
  text-align: center;
}


.game_img {
  height: 270px;
  width: 260px;
  border-style: solid;
  border-radius: 15px;
}

#delete_button {
  margin-bottom: 250px;
}

#game {
  float: left;
  padding: none;
}

#game_form {
  clear: left;
  text-align: center;
}

#add{
  width: 100px;
  height: 40px;
}

input[type="submit"]{
  border: #41BB92;
  border-style: solid;
  border-radius: 10px;
  background-color: #2D8266;
  opacity: 90%;
  color: whitesmoke;
}

form {
  color: #2D8266;
  font-weight: bold;
}

input {
  border-radius: 10px;
  border-style: solid
}

textarea{
  border-radius: 10px;
  border-style: solid
}

#gamecard{
  display: inline-flex;
  align-items: center;
}

a{
  color: #2D8266;
}

a:hover{
  color: tomato
}


#full_game_img{
  width: 400px;
  border-style: solid;
  border-radius: 15px;
}

#imgdiv:not(#full_game){
  display: flex;
  align-items: center;

}

#full_game{
  width: 700px;
  color: #2D8266;
  padding-left: 15px;
  float: right;
}

#full_game h1{
  text-align: center;
  margin-bottom: 0px;
  padding: 0px;
}

#full_game h2{
  text-align: center;
  margin-bottom: 0px;
  padding: 0px;
}

#title_hr{
  width: 300px;
}

